/* --------------------------------------------
            Normolize Css
-------------------------------------------- */


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 18px;
  background-color: var(--primaryColor);
  color: var(--textColor);
}

.container{
  width: 86%;
  margin: 0 auto;
}

ul{
  display: flex;
  list-style: none;
}

p{
  color: var(--textSecondaryColor);
  padding: 14px 0;
}

h1{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  width: 440px;
  font-size: 4rem;
  color: var(--textColor);
}


h2{
  font-size: 40px;
  color: var(--textColor);
}

h3{
  font-size: 32px;
  font-weight: 500;
  font-family: "Manrope", sans-serif;
}

h4{
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: #000000;
}

.df{
  display: flex;
  justify-content: space-between;
}
/* Theme colors*/
:root {
  --primaryColor: #0A0A0A;
  --secondaryColor: #D3E97A;
  --textColor: #ffffff;
  --textSecondaryColor: #C7C7C7;
  --darkGrayColor: #222222;
  --lineColor:#484848;
}

/* --------------------------------------------
            Header Css
-------------------------------------------- */

header{
  width: 100%;
  height: 90px;
}

header nav {
  margin: 30px 6%;
}

header nav .header-menu ul{
  display: flex;
  list-style: none;
}
header nav .header-menu ul li{
  padding: 0 15px;
}

header nav .header-menu ul li a{
  color: var(--textSecondaryColor);
}

/* --------------------------------------------
            Main Contact Css
-------------------------------------------- */


/* Hero Section Start */

.hero{
  border-bottom: 1px solid var(--lineColor);
}

.hero .hero-left{
  margin-top: 150px;
}

.hero .hero-left .info-btn .btn{
  padding: 18px 50px;
  border-radius: 50px;
  background-color: var(--secondaryColor);
  font-size: 18px;
  font-weight: 700;
  border: none;
}
.hero .hero-left .info-btn .btn a{
  color: #000000;
}
.hero .hero-left .info-btn{
  margin-top: 50px;
}
.hero .hero-left .info-btn a{
  background-color: var(--darkGrayColor);
  padding: 16px;
  border-radius: 50%;
  margin: 0px 10px;
}
.hero .hero-left .info-btn a img{
  width: 26px;
}

/* Dot */
.hero .hero-right img{
  width: 100%;
  margin-bottom: 120px;
}


/* Featured Projects Section Start */


.projects .project:last-child{
  padding-bottom: 80px;
  border-bottom: 1px solid var(--lineColor);
}
.projects{
  margin-top: 85px;
}
.projects span p{
  margin-bottom: 80px;
}
/* tag */
.project {
  display: flex;
  padding-bottom: 80px;
  justify-content: space-between;
}
.projects .project .project-card {
  background-color: var(--darkGrayColor);
  position: relative;
  border-radius: 14px;
}
.projects .project .project-card .tag{
  width: 146px;
  background-color: var(--primaryColor);
  border-radius: 50px;
  color: var(--textColor);
  padding: 8px 16px;
  position: absolute;
  z-index: 999;
  top: 20px;
  left: 20px;
}
.projects .project .project-card .tag p{
  font-weight: 500;
  font-size: 14px;
}
.projects .project .project-card img{
  width: 100%;
  padding: 100px 20px 20px 20px;
}

/* Project Contant */

.projects .project .project-card{
  transition: transform 500ms;
}
.projects .project .project-card:hover{
  transform: translateY(-40px);
}

.projects .project .project-contant{
  padding: 4px 30px;
  width: 50%;
}

.projects .project .project-contant .card-info h3{
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 20px;
  border-bottom: 2px solid var(--darkGrayColor);
}

.projects .project .project-contant .card-info .client-info{
  padding: 20px 0;
  border-bottom: 2px solid var(--darkGrayColor);
}

.projects .project .project-contant .card-info .year-info{
  padding: 20px 0;
  border-bottom: 2px solid var(--darkGrayColor);
}

.projects .project .project-contant .card-info .role{
  padding: 20px 0;
  border-bottom: 2px solid var(--darkGrayColor);
}

.projects .project .project-contant .card-info .links{
  margin-top: 40px;
}
.projects .project .project-contant .card-info .links a{
  color: var(--secondaryColor);
  padding-bottom: 4px;
  border-bottom: 2px solid var(--secondaryColor);
  margin: 8px;
}

.projects .project .project-contant .card-info .links a img{
  width: 20px;
}


/* About Me Section Start */


.about{
  margin-top: 130px;
  margin-bottom: 100px;
  border-bottom: 1px solid var(--lineColor);
}
.about .about-right{
  width: 50%;
  height: 430px;
}
.about .about-right a{
  color: var(--secondaryColor);
  padding-bottom: 4px;
  border-bottom: 2px solid var(--secondaryColor);
  padding: 16px 0;
}


/* Connect Section Start */


.connect{
  height: 100vh;
}
.connect .connect-left a{
  color: var(--textColor);
  border-bottom: 1px solid var(--secondaryColor);
}

.connect .connect-left .social ul li{
  margin: 66px 20px 0 0 ;
}
.connect .connect-left .social ul li a {
  border-bottom: none;
}
.connect .connect-left .social ul li a img{
  width: 32px;
}

.connect .connect-right{
  width: 50%;
}

.connect .connect-right form .form-group {
  margin-bottom: 30px;
}
.connect .connect-right form .form-group label {
  display: block;
  font-family: "Manrope", sans-serif;
  margin-bottom: 5px;
  font-weight: 500;
  color: var(--textSecondaryColor);
}
.connect .connect-right form .form-group input[type="text"],
.connect .connect-right form .form-group input[type="email"],
.connect .connect-right form .form-group textarea{
  width: 100%;
  padding: 18px;
  border-radius: 5px;
  font-weight: 400;
  background-color: var(--darkGrayColor);
  color: var(--textColor);
  border: none;
  border-radius: 4px;
  font-size: 20px;
  resize: none;
}
.connect .connect-right form input[type="submit"] {
  background-color: var(--secondaryColor);
  color: var(--primaryColor);
  border: none;
  border-radius: 50px;
  padding: 18px 50px;
  font-size: 18px;
  cursor: pointer;
}


/* --------------------------------------------
            About Page Css
-------------------------------------------- */

.aboutn{
  padding-top: 130px;
  /* margin-bottom: 40px; */
  padding-bottom: 100px;
}

.aboutn .aboutn-right{
  width: 50%;
  height: 400px;
}
.aboutn .aboutn-right p{
  margin-top: 10px;
  margin-bottom: 50px;
}
.aboutn .aboutn-right .aboutn-btn .btn{
  padding: 18px 50px;
  border-radius: 50px;
  background-color: var(--secondaryColor);
  font-size: 18px;
  font-weight: 700;
  border: none;
}
.aboutn .aboutn-right .aboutn-btn{
  margin-top: 50px;
}
.aboutn .aboutn-right .aboutn-btn a{
  background-color: var(--darkGrayColor);
  padding: 16px;
  border-radius: 50%;
  margin: 0px 10px;
}
.aboutn .aboutn-right .aboutn-btn a img{
  width: 26px;
}

/* About Img */

.aboutn-img {
  padding-top: 30px;
  width: 100%;
}

.aboutn-img img{
  width: 100%;

}

/* My Capabilities Section Start */

.capabilitie{
  margin-top: 130px;
  border-bottom: 1px solid var(--lineColor);
}

.capabilitie .capabilitie-right{
  width: 50%;
  /* height: 400px; */
  padding-bottom: 18px;
}
.capabilitie .capabilitie-right ul{
  width: 600px;
  display: flex;
  flex-wrap: wrap;
}

.capabilitie .capabilitie-right p{
  padding-bottom: 18px;
}
.capabilitie .capabilitie-right .capabilitie-tag ul li{
  padding: 22px 36px;
  border: 1px solid var(--textSecondaryColor);
  color: var(--textColor);
  font-family: "Manrope", sans-serif;
  font-weight: 700;;
  border-radius: 50px;
  margin: 10px;
  font-size: 16px;
}

/* My Experience Section Start */
.experience{
  margin-top: 86px;
  margin-bottom: 80px;
  border-bottom: 1px solid var(--lineColor);
}
.experience .experience-right .experience-contant .exp-tag{
  color: var(--secondaryColor);
}
.experience .experience-right{
  width: 50%;
}
.experience .experience-right .experience-contant p{
  padding-top: 24px;
  padding-bottom: 80px;
}